<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <h1>Inventory:</h1>

    {% if latest_item_list %}
        <ul>
        {% for item in latest_item_list %}
            <li>
                <h3><a href="{% url 'shop:detail' item.id %}">{{ item.title }} ({{ item.num_available }})</a></h3>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
</body>
</html>
